* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
 width: 100%;
 height: 100vh;
 display: flex;
 justify-content: center;
 align-items: center;
}

.chat {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 80%;
  border: 3px solid lightgrey;
}

.text-area {
  width: 100%;
  height: 100%;
  background-color: whitesmoke;
  border-bottom: 2px solid lightgrey;
}

.chat__text-area {
  width: 100%;
  height: 85%;
}

.input-form {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.input-field {
  width: 80%;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.submit-btn {
  width: 20%;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: lightgreen;
}

.chat__input-form {
  width: 100%;
  height: 15%;
}


@media(max-width: 450px) {
  .input-form {
    flex-direction: column;
  }

  .input-field {
    width: 100%;
    height: 60%;
  }
  
  .submit-btn  {
    width: 100%;
    height: 40%; 
  }
}
